#content { max-width: 60em; margin: auto; }
.title  { text-align: center;
            margin-bottom: .2em; }
.subtitle { text-align: center;
            font-size: medium;
            font-weight: bold;
            margin-top:0; }

body {
    background-color: #282c34;
    color: #bbc2cf;
    font-family: 'Fira Mono';
}

h1 {
   color: #e7e7e7;
}

h2 {
   color: #c678dd;
}

h3 {
   color: #2c97f4;
}

a {
   color: #2c97f4;
}

.smoothed {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
