body {
    background-color: #282c34;
    color: #bbc2cf;
    font-family: 'Fira Mono';
    width: 60em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
   color: #e7e7e7;
}

h2 {
   color: #c678dd;
}

h3 {
   color: #2c97f4;
}

a {
   color: #2c97f4;
}
