.gif {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    background-color: #21242b;
    text-align: center;
}

html {
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    background-color: #21242b;
}

body {
    image-rendering: auto;
    background-color: #282c34;
    color: #bbc2cf;
    font-family: 'Fira Mono';
    width: 60em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: solid #bbc2cf;
    padding: 40px 40px 40px 40px;
    box-shadow: 5px 5px 1px #16181b
}

h1 {
   color: #e7e7e7;
   text-shadow: 5px 5px 1px #21242b;
    text-align: center;
}

h2 {
   color: #c678dd;
   text-shadow: 4px 4px 1px #21242b;
    text-align: center;
}

h3 {
   color: #2c97f4;
   text-shadow: 3px 3px 1px #21242b;
   text-align: center;
}

a {
   color: #2c97f4;
}

ul {
    text-align: center;
    list-style-position: inside;
    padding-left: 0;
}
